//perfil candidato


// container geral
.container {
    width: 100%;
    margin: 10px 0px;
    background-color: $white;
    position: relative;
    border-radius: 0.3em;
    .photo {
        width: 150px;
        height: 150px;
        border: 3px solid #fff;
        border-radius: 50%;
        position: relative;
        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .title {
        border-bottom: 1px solid $light_grey;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            font-size: 2em;
            margin: 0 0 5px 0;
        }
    }
    .subtitle {
        display: flex;
        align-items: center;
        margin: 20px 0;
        justify-content: center;
        &:after{
            z-index: 0;
            position: absolute;
            content: '';
            width: 80%;
            height: 1px;
            background-color: $light_grey;
        }
        h1 {
            padding: 0 30px;
            z-index: 1;
            font-size: 1.2em;
            background-color: white;
            margin: 0 0 5px 0;
        }
    }
}
.perfil{  
    .title {
        border-bottom: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border:1px solid red;
        h1 {
            font-size: 2em;
            margin: 0 0 5px 0;
        }
    }
    .info-gerais{

        display: flex;
    }
    .detalhes-formacao{
        width: 100%;
        .formacao{
            display: flex;
        }
    }
    .detalhes-exp{
        .exp{
            display: flex;
        }
    }
}


.chart-box {
    margin: auto;
    width: 60%;
    padding: 0;
    min-width: 200px;
    min-height: 200px;
    padding-top: 60%;
    position: relative;
    .chart {
        animation: loadChart 1s forwards;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        height: 80%;
        width: 80%;
        .circle-chart {
            .circle-chart__circle {
                transform: rotate(-90deg) scale(1, -1);
                transform-origin: center;
            }
        }
    }
}

.loader{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main {
   
    position: relative;
    min-height: calc(100vh - 80px);
    grid-area: main;
    height: calc(100% - 20px);
    padding: 10px 20px;
    .card {
        margin: 10px 5px;
        float: left;
        max-width: 25%;
        min-width: 250px;
        padding: 0;
        .content{
            position: relative;
            min-height: 150px;
            padding: 0;
            margin: 0;
            .cor-vaga{
                height: 4px;
                width: 100%;
                background-color:$honey_color;
            }
            .info{
                height: 100%;
                display: flex;
            flex-direction: column;
            justify-content: space-between;
                h1{
                    max-width: 70%;
                    text-align: left;
                    font-size: 1.5em;
                    margin: 0.5em;
                }
                .candidatura{
                    padding: 1em;
                    text-align: center;
                    justify-content: space-between;
                    display:flex;
                    .candidatos,.favs{
                    margin: 0.5em;
                    text-align: center;
                    display:flex;
                    flex-direction: column;
                    }
                    .numero-candidatos,.numero-fav{
                        font-size: 1.5em;
                        color: $honey_color;
                    }
                }
            }
        }
       
        .button {
            margin: 0 auto;
        }
    }
   
    .vagas{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
         align-items: center;
         position: relative;
         .new-card{
             cursor: pointer;
             margin: 0 5px;
             min-height: 150px;
             min-width: 150px;
         }
         .vagas-cards{
            height: auto;
            display: flex;
            flex-wrap: wrap;
             align-items: center;
         }
         .info-vagas{
             width: 100%;

            .filter-chip{
                display: flex;
                align-items: center;
                .chip{
                    margin: 0 5px;
                }
            
            }
             
            .cards-body{
            display: flex;
            flex-wrap: wrap;
                .card{
                    margin: 0;
                    padding: 10px;
                    .card-candidatos{
                        padding: 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-around;   
                        box-sizing: border-box;
                        position: relative;
                        .fav-icon{
                        margin: auto;
                        position: absolute;
                        top: -7px;
                        right: 2px;
                        width: 30px;
                        height: 30px;
                        color: $honey_color;
                        g{
                            svg{
                            fill: $honey_color;
                            }
                        }
                        .is-fav {
                            path {
                                fill: $honey_color;
                                height: 50px;
                            }
                        }
                        .not-fav {
                            path {
                                fill: $light_grey;
                                height: 50px;
                            }
                        }
                        }
                        &:hover{
                            box-shadow: 0 0 4px 0px $honey_color;
                        }
                    }
                    
                }

            }
            .container{
                .chart-vaga{
                    height: 200px;
                    width: 200px;
                    right: 0;
            
                }
            }
         }
    }
    .nova-vaga {
        .container {
            .form {
                padding-top: 20px;
                width: 100%;
                display: flex;

                flex-shrink: 10px;
                .main-info {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 500px;
                }
                .endereco {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    min-width: 300px;
                    width: 45%;
                    margin-left: 5%;
                    border-left: 1px solid $light_grey;
                }
            }
        }
    }
    .container {
        margin: 10px 0px;
        background-color: $white;
        position: relative;
        border-radius: 0.3em;
        padding: 30px;
        .title {
            border-bottom: 1px solid $light_grey;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-size: 2em;
                margin: 0 0 5px 0;
            }
        .subtitle {
                border-bottom: 1px solid $light_grey;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h1 {
                    font-size: 2em;
                    margin: 0 0 5px 0;
                }
        }
        }
        table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 100%;
            border-radius: 10px;
            table-layout: fixed;
            
            tr {
                border-bottom: 1px solid $dark_grey;
                &:first-child {
                    border-bottom: 1px solid $dark_grey;
                }
                &:last-child {
                    border: none;
                }
                th {
                    position: relative;
                    background-color: $light_grey;
                    font-size: 1.2em;
                    padding: 1em 0;
                    width: 25%;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        margin: auto;
                        bottom: 0;
                        right: 0;
                        height: 1.3em;
                        width: 1px;
                        background-color: $dark_grey;
                    }
                    &:first-child {
                        width: 3em;
                    }
                    &:nth-of-type(2) {
                        width: 1em;
                    }
                    &:last-child {
                        width: 3em;
                    }
                    &:nth-of-type(2),
                    &:first-child,
                    &:nth-of-type(6),
                    &:last-child {
                        &::after {
                            background-color: transparent;
                        }
                    }
                }
                th:first-child {
                    border-radius: 5px 0 0 5px;
                }
                th:last-child {
                    border-radius: 0 5px 5px 0;
                }
                td {
                    box-sizing: border-box;
                    position: relative;
                    padding: 1em 0;
                    width: calc(25% - 1em);
                    &:first-child {
                        width: 1em;
                    }
                    &:nth-of-type(2) {
                        width: 1em;
                    }
                    .fav-icon {
                        margin: auto;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        .is-fav {
                            path {
                                fill: $honey_color;
                                height: 50px;
                            }
                        }
                        .not-fav {
                            path {
                                fill: $light_grey;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
    .perfil{  
        .title {
            border-bottom: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border:none;
            padding: 0 20px;
            h1 {
                font-size: 2em;
                margin: 0 0 5px 0;
            }
        }
    }
    .resume {
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: right;
        .expand {
            position: absolute;
            margin: auto;
            right: 5px;
        }
    }
    .dash-bottom {
        display: flex;
        justify-content: space-between;
        .dash-left,
        .dash-right {
            padding: 0;
            position: relative;
            width: 49%;
            height: 350px;
            display: flex;
            .infos {
                padding: 0.8em;
                height: 100%;
                top: 0;
                position: absolute;
                margin: auto;
                left: 0;
                text-align: left;
                .title {
                    margin: 0;
                    padding: 0;
                    border: none;
                    h1 {
                        font-size: 1em;
                        font-weight: 400;
                        margin: 0;
                        padding: 0;
                    }
                }
                ul {
                    margin-top: 0.5em;
                    li {
                        padding-top: 0.5em;
                        padding-left: 1em;
                        position: relative;
                        font-size: 0.7em;
                        margin: 0;
                        list-style-type: none;
                    }
                    li:nth-of-type(1)::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 0.8em;
                        height: 0.8em;
                        border-radius: 50%;
                        background-color: $dark_grey;
                    }
                    li:nth-of-type(2)::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 0.8em;
                        height: 0.8em;
                        border-radius: 50%;
                        background-color: $honey_color;
                    }
                }
                .filter {
                    position: absolute;
                    margin: auto;
                    bottom: 0.8em;
                }
            }
            
        }
    }
}

@keyframes loadChart {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}