.main-container{
    position: absolute;
    margin: auto;
}

.main-container{
    grid-area: main-content;
    box-sizing: border-box;
    /* grid system */
    display: grid;
    grid-template-columns: minmax(270px,25%) minmax(480px,75%);
    grid-template-areas: 'menu main';
    max-width: 1400px;
    width: 90%;
    left:0;
    right: 0;
    top: $navtop_height;
    padding-right: 15px;
}

@import './main'
