$size-thumb: 2.8em;

.navbar-top{
    padding-right: 15px;
    position: fixed;
    z-index: 3;
    grid-area: header;
    width: 100%;
    height: $navtop_height;
    background-color: $white;
    box-shadow:  0 0 1px 0px $dark_grey;
    box-sizing: border-box;
    left:0;
    right: 0;
    nav{   
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1400px;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        .logo{
            height: 90%;
        }
        .hello{
            height: 100%;

            position: relative;
            .info{
                display: flex;
                align-items: center;
                position: relative;
                height: 100%;
            }
            .dropdown{
                    position: relative;
                    right: 0;
            }
        }
    }
}