.navbar-left {
    grid-area: menu;
    box-sizing: border-box;
    height: 100%;
    padding: 20px 10px;
    min-width: 270px;

    position: fixed;
    
    nav {
        
        margin: auto;
        border-radius: 0.3em;
        background-color: $dark_grey;
        height: calc(100% - #{$navtop_height});
        padding: 0 20px;
        padding-top: 50px;
        padding-bottom: 200px;
        transition: height 1s;
        .profile-info {
            color: #fff;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: block;
                margin-top: 0.2em;
            }
            .photo {
                width: 70%;
                padding-top: 70%;
                border: 3px solid #fff;
                border-radius: 50%;
                position: relative;
                img {
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
        ul {
            margin-top: 2em;
            color: #fff;
            padding: 0;
            text-align: left;
            .item {
                font-size: 1.2em;
                background-size: 10px 10px;
                list-style-type: none;
                margin: 0 auto;
                width: 90%;
                padding: 0.4em 0 0.4em 1.7em;
                border-top: 1px solid black;
                position: relative;
                i {
                    height: 1.8em;
                    width: 1.5em;
                    position: absolute;
                    margin: auto;
                    left: 0;
                    top: -10px;
                    bottom: -7px;
                }
            }
            .item:nth-of-type(1) {
                border-top: none;
            }
        }
    }
}