* {
    box-sizing: border-box;
}

.App {
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-areas: 'header' 'main-content';
    width: 100%;
    
}

.cadartro-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-image: url('/panel-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .paper {
        padding: 30px 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        box-shadow: 0 0 20px 0 black;
        width: 230px;
        height: auto;
        div{

        height: 100%;
        justify-content: space-around;
          align-items: center;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
          form{
              margin: 20px;

          }
        }
        .button {
          padding: 0 40px;
          margin: 10px;
          color:white;
        }
    }
    img {

        width: 70px;
    }
}


.complete-cadastro {
    position: relative;

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .paper {
        padding: 20px;
        width: 80%;
        position: relative;
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .button{
                margin: 20px;
            }
            .title{
                font-size: 0.8em;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
            .form {
                padding-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-shrink: 10px;
                .title{
                    margin: 0 80px;
                    position: relative;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    h1{
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
                .main-info {
                    
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    width: 500px;
                }
                .endereco {
                    
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-evenly;
                    min-width: 300px;
                    width: 50%;
                    min-width: 300px;
                    margin-left: 5%;
                    border-left: 1px solid $light_grey;
                }
            }
        }
        
    }
}

.logo-loader {
    width: 100px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.st1 {
    animation: loading 1.5s infinite;
    transform: translate(25%, 0)
}

@keyframes loading {
    0% {
        transform: translate(25%, 0)
    }
    33% {
        transform: translate(50%, 43%);
    }
    66% {
        transform: translate(0, 43%);
    }
    99% {
        transform: translate(25%, 0)
    }
}