@import './reset';

*{
 box-sizing: border-box; 
}

body {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EDEEED;
  
}

@import './var';
@import './App';
@import './main-container';
@import './navbar-top';
@import './navbar-left';
