html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EDEEED; }

* {
  box-sizing: border-box; }

.App {
  z-index: 1;
  text-align: center;
  display: grid;
  grid-template-areas: 'header' 'main-content';
  width: 100%; }

.cadartro-form {
  display: flex;
  align-items: center;
  justify-content: center; }

.login {
  background-image: url("/panel-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .login .paper {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 0 20px 0 black;
    width: 230px;
    height: auto; }
    .login .paper div {
      height: 100%;
      justify-content: space-around;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%; }
      .login .paper div form {
        margin: 20px; }
    .login .paper .button {
      padding: 0 40px;
      margin: 10px;
      color: white; }
  .login img {
    width: 70px; }

.complete-cadastro {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .complete-cadastro .paper {
    padding: 20px;
    width: 80%;
    position: relative; }
    .complete-cadastro .paper .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .complete-cadastro .paper .container .button {
        margin: 20px; }
      .complete-cadastro .paper .container .title {
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .complete-cadastro .paper .container .form {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 10px; }
        .complete-cadastro .paper .container .form .title {
          margin: 0 80px;
          position: relative;
          text-align: center;
          display: flex;
          justify-content: center; }
          .complete-cadastro .paper .container .form .title h1 {
            font-size: 1.5em;
            text-align: center; }
        .complete-cadastro .paper .container .form .main-info {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 500px; }
        .complete-cadastro .paper .container .form .endereco {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-evenly;
          min-width: 300px;
          width: 50%;
          min-width: 300px;
          margin-left: 5%;
          border-left: 1px solid #DEDFDF; }

.logo-loader {
  width: 100px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.st1 {
  animation: loading 1.5s infinite;
  transform: translate(25%, 0); }

@keyframes loading {
  0% {
    transform: translate(25%, 0); }
  33% {
    transform: translate(50%, 43%); }
  66% {
    transform: translate(0, 43%); }
  99% {
    transform: translate(25%, 0); } }
.main-container {
  position: absolute;
  margin: auto; }

.main-container {
  grid-area: main-content;
  box-sizing: border-box;
  /* grid system */
  display: grid;
  grid-template-columns: minmax(270px, 25%) minmax(480px, 75%);
  grid-template-areas: 'menu main';
  max-width: 1400px;
  width: 90%;
  left: 0;
  right: 0;
  top: 4em;
  padding-right: 15px; }

.container {
  width: 100%;
  margin: 10px 0px;
  background-color: #fff;
  position: relative;
  border-radius: 0.3em; }
  .container .photo {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative; }
    .container .photo img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  .container .title {
    border-bottom: 1px solid #DEDFDF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container .title h1 {
      font-size: 2em;
      margin: 0 0 5px 0; }
  .container .subtitle {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center; }
    .container .subtitle:after {
      z-index: 0;
      position: absolute;
      content: '';
      width: 80%;
      height: 1px;
      background-color: #DEDFDF; }
    .container .subtitle h1 {
      padding: 0 30px;
      z-index: 1;
      font-size: 1.2em;
      background-color: white;
      margin: 0 0 5px 0; }

.perfil .title {
  border-bottom: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red; }
  .perfil .title h1 {
    font-size: 2em;
    margin: 0 0 5px 0; }
.perfil .info-gerais {
  display: flex; }
.perfil .detalhes-formacao {
  width: 100%; }
  .perfil .detalhes-formacao .formacao {
    display: flex; }
.perfil .detalhes-exp .exp {
  display: flex; }

.chart-box {
  margin: auto;
  width: 60%;
  padding: 0;
  min-width: 200px;
  min-height: 200px;
  padding-top: 60%;
  position: relative; }
  .chart-box .chart {
    animation: loadChart 1s forwards;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 80%;
    width: 80%; }
    .chart-box .chart .circle-chart .circle-chart__circle {
      transform: rotate(-90deg) scale(1, -1);
      transform-origin: center; }

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.main {
  position: relative;
  min-height: calc(100vh - 80px);
  grid-area: main;
  height: calc(100% - 20px);
  padding: 10px 20px; }
  .main .card {
    margin: 10px 5px;
    float: left;
    max-width: 25%;
    min-width: 250px;
    padding: 0; }
    .main .card .content {
      position: relative;
      min-height: 150px;
      padding: 0;
      margin: 0; }
      .main .card .content .cor-vaga {
        height: 4px;
        width: 100%;
        background-color: #F39315; }
      .main .card .content .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .main .card .content .info h1 {
          max-width: 70%;
          text-align: left;
          font-size: 1.5em;
          margin: 0.5em; }
        .main .card .content .info .candidatura {
          padding: 1em;
          text-align: center;
          justify-content: space-between;
          display: flex; }
          .main .card .content .info .candidatura .candidatos, .main .card .content .info .candidatura .favs {
            margin: 0.5em;
            text-align: center;
            display: flex;
            flex-direction: column; }
          .main .card .content .info .candidatura .numero-candidatos, .main .card .content .info .candidatura .numero-fav {
            font-size: 1.5em;
            color: #F39315; }
    .main .card .button {
      margin: 0 auto; }
  .main .vagas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative; }
    .main .vagas .new-card {
      cursor: pointer;
      margin: 0 5px;
      min-height: 150px;
      min-width: 150px; }
    .main .vagas .vagas-cards {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
    .main .vagas .info-vagas {
      width: 100%; }
      .main .vagas .info-vagas .filter-chip {
        display: flex;
        align-items: center; }
        .main .vagas .info-vagas .filter-chip .chip {
          margin: 0 5px; }
      .main .vagas .info-vagas .cards-body {
        display: flex;
        flex-wrap: wrap; }
        .main .vagas .info-vagas .cards-body .card {
          margin: 0;
          padding: 10px; }
          .main .vagas .info-vagas .cards-body .card .card-candidatos {
            padding: 20px;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            box-sizing: border-box;
            position: relative; }
            .main .vagas .info-vagas .cards-body .card .card-candidatos .fav-icon {
              margin: auto;
              position: absolute;
              top: -7px;
              right: 2px;
              width: 30px;
              height: 30px;
              color: #F39315; }
              .main .vagas .info-vagas .cards-body .card .card-candidatos .fav-icon g svg {
                fill: #F39315; }
              .main .vagas .info-vagas .cards-body .card .card-candidatos .fav-icon .is-fav path {
                fill: #F39315;
                height: 50px; }
              .main .vagas .info-vagas .cards-body .card .card-candidatos .fav-icon .not-fav path {
                fill: #DEDFDF;
                height: 50px; }
            .main .vagas .info-vagas .cards-body .card .card-candidatos:hover {
              box-shadow: 0 0 4px 0px #F39315; }
      .main .vagas .info-vagas .container .chart-vaga {
        height: 200px;
        width: 200px;
        right: 0; }
  .main .nova-vaga .container .form {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-shrink: 10px; }
    .main .nova-vaga .container .form .main-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 500px; }
    .main .nova-vaga .container .form .endereco {
      display: flex;
      align-items: center;
      flex-direction: column;
      min-width: 300px;
      width: 45%;
      margin-left: 5%;
      border-left: 1px solid #DEDFDF; }
  .main .container {
    margin: 10px 0px;
    background-color: #fff;
    position: relative;
    border-radius: 0.3em;
    padding: 30px; }
    .main .container .title {
      border-bottom: 1px solid #DEDFDF;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .main .container .title h1 {
        font-size: 2em;
        margin: 0 0 5px 0; }
      .main .container .title .subtitle {
        border-bottom: 1px solid #DEDFDF;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .main .container .title .subtitle h1 {
          font-size: 2em;
          margin: 0 0 5px 0; }
    .main .container table {
      margin-top: 20px;
      border-collapse: collapse;
      width: 100%;
      border-radius: 10px;
      table-layout: fixed; }
      .main .container table tr {
        border-bottom: 1px solid #444749; }
        .main .container table tr:first-child {
          border-bottom: 1px solid #444749; }
        .main .container table tr:last-child {
          border: none; }
        .main .container table tr th {
          position: relative;
          background-color: #DEDFDF;
          font-size: 1.2em;
          padding: 1em 0;
          width: 25%; }
          .main .container table tr th::after {
            content: '';
            position: absolute;
            top: 0;
            margin: auto;
            bottom: 0;
            right: 0;
            height: 1.3em;
            width: 1px;
            background-color: #444749; }
          .main .container table tr th:first-child {
            width: 3em; }
          .main .container table tr th:nth-of-type(2) {
            width: 1em; }
          .main .container table tr th:last-child {
            width: 3em; }
          .main .container table tr th:nth-of-type(2)::after, .main .container table tr th:first-child::after, .main .container table tr th:nth-of-type(6)::after, .main .container table tr th:last-child::after {
            background-color: transparent; }
        .main .container table tr th:first-child {
          border-radius: 5px 0 0 5px; }
        .main .container table tr th:last-child {
          border-radius: 0 5px 5px 0; }
        .main .container table tr td {
          box-sizing: border-box;
          position: relative;
          padding: 1em 0;
          width: calc(25% - 1em); }
          .main .container table tr td:first-child {
            width: 1em; }
          .main .container table tr td:nth-of-type(2) {
            width: 1em; }
          .main .container table tr td .fav-icon {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 30px;
            height: 30px; }
            .main .container table tr td .fav-icon .is-fav path {
              fill: #F39315;
              height: 50px; }
            .main .container table tr td .fav-icon .not-fav path {
              fill: #DEDFDF;
              height: 50px; }
  .main .perfil .title {
    border-bottom: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 0 20px; }
    .main .perfil .title h1 {
      font-size: 2em;
      margin: 0 0 5px 0; }
  .main .resume {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right; }
    .main .resume .expand {
      position: absolute;
      margin: auto;
      right: 5px; }
  .main .dash-bottom {
    display: flex;
    justify-content: space-between; }
    .main .dash-bottom .dash-left,
    .main .dash-bottom .dash-right {
      padding: 0;
      position: relative;
      width: 49%;
      height: 350px;
      display: flex; }
      .main .dash-bottom .dash-left .infos,
      .main .dash-bottom .dash-right .infos {
        padding: 0.8em;
        height: 100%;
        top: 0;
        position: absolute;
        margin: auto;
        left: 0;
        text-align: left; }
        .main .dash-bottom .dash-left .infos .title,
        .main .dash-bottom .dash-right .infos .title {
          margin: 0;
          padding: 0;
          border: none; }
          .main .dash-bottom .dash-left .infos .title h1,
          .main .dash-bottom .dash-right .infos .title h1 {
            font-size: 1em;
            font-weight: 400;
            margin: 0;
            padding: 0; }
        .main .dash-bottom .dash-left .infos ul,
        .main .dash-bottom .dash-right .infos ul {
          margin-top: 0.5em; }
          .main .dash-bottom .dash-left .infos ul li,
          .main .dash-bottom .dash-right .infos ul li {
            padding-top: 0.5em;
            padding-left: 1em;
            position: relative;
            font-size: 0.7em;
            margin: 0;
            list-style-type: none; }
          .main .dash-bottom .dash-left .infos ul li:nth-of-type(1)::after,
          .main .dash-bottom .dash-right .infos ul li:nth-of-type(1)::after {
            content: '';
            position: absolute;
            left: 0;
            width: 0.8em;
            height: 0.8em;
            border-radius: 50%;
            background-color: #444749; }
          .main .dash-bottom .dash-left .infos ul li:nth-of-type(2)::after,
          .main .dash-bottom .dash-right .infos ul li:nth-of-type(2)::after {
            content: '';
            position: absolute;
            left: 0;
            width: 0.8em;
            height: 0.8em;
            border-radius: 50%;
            background-color: #F39315; }
        .main .dash-bottom .dash-left .infos .filter,
        .main .dash-bottom .dash-right .infos .filter {
          position: absolute;
          margin: auto;
          bottom: 0.8em; }

@keyframes loadChart {
  0% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.navbar-top {
  padding-right: 15px;
  position: fixed;
  z-index: 3;
  grid-area: header;
  width: 100%;
  height: 4em;
  background-color: #fff;
  box-shadow: 0 0 1px 0px #444749;
  box-sizing: border-box;
  left: 0;
  right: 0; }
  .navbar-top nav {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
    height: 100%;
    margin: 0 auto; }
    .navbar-top nav .logo {
      height: 90%; }
    .navbar-top nav .hello {
      height: 100%;
      position: relative; }
      .navbar-top nav .hello .info {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%; }
      .navbar-top nav .hello .dropdown {
        position: relative;
        right: 0; }

.navbar-left {
  grid-area: menu;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 10px;
  min-width: 270px;
  position: fixed; }
  .navbar-left nav {
    margin: auto;
    border-radius: 0.3em;
    background-color: #444749;
    height: calc(100% - 4em);
    padding: 0 20px;
    padding-top: 50px;
    padding-bottom: 200px;
    transition: height 1s; }
    .navbar-left nav .profile-info {
      color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .navbar-left nav .profile-info span {
        display: block;
        margin-top: 0.2em; }
      .navbar-left nav .profile-info .photo {
        width: 70%;
        padding-top: 70%;
        border: 3px solid #fff;
        border-radius: 50%;
        position: relative; }
        .navbar-left nav .profile-info .photo img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
    .navbar-left nav ul {
      margin-top: 2em;
      color: #fff;
      padding: 0;
      text-align: left; }
      .navbar-left nav ul .item {
        font-size: 1.2em;
        background-size: 10px 10px;
        list-style-type: none;
        margin: 0 auto;
        width: 90%;
        padding: 0.4em 0 0.4em 1.7em;
        border-top: 1px solid black;
        position: relative; }
        .navbar-left nav ul .item i {
          height: 1.8em;
          width: 1.5em;
          position: absolute;
          margin: auto;
          left: 0;
          top: -10px;
          bottom: -7px; }
      .navbar-left nav ul .item:nth-of-type(1) {
        border-top: none; }

/*# sourceMappingURL=index.css.map */
